<div class="well">
    {{#if loginStatus}}
    <h4>发布新博客
        <small class="text-muted">你还可以输入 {{vol}}/140 个字符</small>
        <button class="btn btn-primary pull-right" style="margin-bottom: 10px" {{action 'submit'}}>发布</button>
    </h4>
    {{#textarea class="form-control" rows="5" maxlength="140" value=article.content}}{{/textarea}}
    {{else}}
    <h3>请
        {{#link-to "login"}}登录{{/link-to}}
        或
        {{#link-to "register"}}注册{{/link-to}}
        后再发表博客
    </h3>
    {{/if}}
</div>
{{#each articlesArray as |article index|}}
    <div class="well article">
        {{#unless article.isSubmitting}}
            <button class="btn btn-link pull-right btn-sm rm-btn" {{action "removeArticle" article}}>
                <span class="glyphicon glyphicon-remove text-muted"></span>
            </button>
        {{/unless}}
            <h3><b>{{article.user.name}}</b>
        </h3>
        <div class="content">
            <p style="font-size: 17px;color: white;">{{article.content}}</p>
        </div>
        <p class="text-muted" style="text-align:right">{{article.created_at}}</p>
        {{#unless article.isSubmitting}}
           <div class="panel panel-info">
               <div class="panel-heading">
                   <a data-toggle="collapse" href="#{{index}}">
                       评论列表
                   </a>
               </div>
               <div id={{index}} class="panel-collapse collapse in">
                   <ul class="list-group">
                      {{#each article.comments as |comment c_index|}}
                           <li class="list-group-item comment" style="background: rgb(249, 249, 249);">
                               <b>{{comment.commenter}}:</b> {{comment.content}}
                               <button class="btn btn-link pull-right btn-sm c-rm-btn" {{action 'removeComments' article c_index}}>
                                   <span class="glyphicon glyphicon-remove text-muted"></span>
                               </button>
                           </li>
                      {{else}}
                           <li class="list-group-item">还没有评论</li>
                      {{/each}}
                  </ul>
               </div>
           </div>
           {{#if loginStatus}}
                <form name="chatForm" role="form" {{action "comment" article on="submit"}}>
                <div class="input-group">
                    {{#input type="text" class="form-control" placeholder="输入评论.." value=article.comment}}{{/input}}
                    <span class="input-group-btn">
                        <input class="btn btn-primary" type="submit" value="提交">
                    </span>
                </div>
                </form>
           {{/if}}
        {{else}}
            <div class="well-sm">
            {{#if article.isError}}
                <h3 class="text-danger">
                    <span class="glyphicon glyphicon-floppy-remove"></span>
                    发送失败!
                    <button class="btn btn-link btn-lg" {{action "reSubmit" article}}>
                    <span class="glyphicon glyphicon-repeat"></span>
                        重试
                    </button>
                    <button class="btn btn-link btn-lg" {{action "cancelSubmit" article}}>
                    <span class="glyphicon glyphicon-remove"></span>
                        取消
                    </button>
                </h3>
            {{else}}
                <h3>发送中...</h3>
            {{/if}}
            </div>
        {{/unless}}
    </div>
{{else}}
<p>没有文字</p>
{{/each}}
{{outlet}}