<div class="well">
    <h4>发布新博客
        <small class="text-muted">你还可以输入 {{vol}}/140 个字符</small>
        <button class="btn btn-primary pull-right" style="margin-bottom: 10px" {{action 'submit'}}>发布</button>
    </h4>
    {{#textarea class="form-control" rows="5" maxlength="140" value=article.content}}{{/textarea}}
</div>
{{#each articles as |article index|}}
    <div class="well">
        <h4><b>{{article.name}} :</b></h4>
        <h5 class="">{{article.content}}</h5>
        <p class="text-muted" style="text-align:right">{{article.created_at}}</p>
        <ul class="list-group">
            {{#each article.comments as |comment c_index|}}
            <li class="list-group-item"><b>{{comment.commenter}}:</b> {{comment.content}}</li>
            {{else}}
            <li class="list-group-item">还没有评论</li>
            {{/each}}
        </ul>
        <form name="chatForm" role="form" {{action "comment" article.id index on="submit"}}>
        <div class="input-group">
            {{#input type="text" class="form-control" placeholder="输入评论.." value=article.comment}}{{/input}}
            <span class="input-group-btn">
                <input class="btn btn-primary" type="submit" value="提交">
            </span>
        </div>
        </form>
    </div>
{{else}}
<p>没有文字</p>
{{/each}}
{{outlet}}